div.table-container {
    margin: 1px 20px;
    overflow: auto;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}

table.table-wrapper {
    border: 2px solid transparent;
}

tbody {
    cursor: pointer;
    
}

table td,
table th {
    border: 4px solid transparent;
    padding: 8px;
}

table th {
    position: sticky;
    top: 0;
    background-color: #dfdddd;
    border-radius: 8px;
    padding: 12px 10px;
}

tr:nth-child(even) {background-color: #eeeeee;}

tr td{
    padding: 8px;
    border-radius: 8px;
    
}

tr:last-child { background-color: #dfdddd; }


div.search-wrapper {
    padding: 2%;
    margin-top: 5%;
}